<!DOCTYPE html>
<html lang="en">
    <head>
        <title>URL Shortener</title>
    </head>
    <body>
        <h2>Go Short!</h2>
        <p>New URL Created!</p>
        <a href="/{{.ShortID}}">{{.ShortID}}</a>
    </body>
</html>